In [1]:
import pandas as pd
import os
import csv
from pathlib import Path

In [2]:
#readin data

CR_csvpath = Path("CashRate_csv.csv")

CR_df = pd.read_csv(CR_csvpath,skiprows=1)

CR_df.head()

,Title,Cash Rate Target,Interbank Overnight Cash Rate,1-month BABs/NCDs,3-month BABs/NCDs,6-month BABs/NCDs,1-month OIS,3-month OIS,6-month OIS,1-month Treasury Note,3- month Treasury Note,6- month Treasury Note,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Description,Cash Rate Target; monthly average,Interbank Overnight Cash Rate; monthly average,Bank Accepted Bills/Negotiable Certificates of...,Bank Accepted Bills/Negotiable Certificates of...,Bank Accepted Bills/Negotiable Certificates of...,Overnight Indexed Swaps-1 month; monthly average,Overnight Indexed Swaps-3 months; monthly average,Overnight Indexed Swaps-6 months; monthly average,Treasury Notes-1 month; monthly average,Treasury Notes-3 months; monthly average,Treasury Notes-6 months; monthly average,NaN,NaN,NaN,NaN,NaN
1,Frequency,Monthly,Monthly,Monthly,Monthly,Monthly,Monthly,Monthly,Monthly,See notes,See notes,See notes,NaN,NaN,NaN,NaN,NaN
2,Type,Original,Original,Original,Original,Original,Original,Original,Original,Original,Original,Original,NaN,NaN,NaN,NaN,NaN
3,Units,Per cent,Per cent,Per cent,Per cent,Per cent,Per cent,Per cent,Per cent,Per cent,Per cent,Per cent,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
CR_df.dtypes

Title                             object
Cash Rate Target                  object
Interbank Overnight Cash Rate     object
1-month BABs/NCDs                 object
3-month BABs/NCDs                 object
6-month BABs/NCDs                 object
1-month OIS                       object
3-month OIS                       object
6-month OIS                       object
1-month Treasury Note             object
3- month Treasury Note            object
6- month Treasury Note            object
Unnamed: 12                      float64
Unnamed: 13                      float64
Unnamed: 14                      float64
Unnamed: 15                      float64
Unnamed: 16                      float64
dtype: object

In [4]:
#Drop unnamed columns 
CR_df.drop(CR_df .columns[CR_df .columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
CR_df.head()

,Title,Cash Rate Target,Interbank Overnight Cash Rate,1-month BABs/NCDs,3-month BABs/NCDs,6-month BABs/NCDs,1-month OIS,3-month OIS,6-month OIS,1-month Treasury Note,3- month Treasury Note,6- month Treasury Note
0,Description,Cash Rate Target; monthly average,Interbank Overnight Cash Rate; monthly average,Bank Accepted Bills/Negotiable Certificates of...,Bank Accepted Bills/Negotiable Certificates of...,Bank Accepted Bills/Negotiable Certificates of...,Overnight Indexed Swaps-1 month; monthly average,Overnight Indexed Swaps-3 months; monthly average,Overnight Indexed Swaps-6 months; monthly average,Treasury Notes-1 month; monthly average,Treasury Notes-3 months; monthly average,Treasury Notes-6 months; monthly average
1,Frequency,Monthly,Monthly,Monthly,Monthly,Monthly,Monthly,Monthly,Monthly,See notes,See notes,See notes
2,Type,Original,Original,Original,Original,Original,Original,Original,Original,Original,Original,Original
3,Units,Per cent,Per cent,Per cent,Per cent,Per cent,Per cent,Per cent,Per cent,Per cent,Per cent,Per cent
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
#Drop unnamed columns 
CR_df.drop(CR_df .columns[CR_df .columns.str.contains('month',case = False)],axis = 1, inplace = True)
CR_df.head()

,Title,Cash Rate Target,Interbank Overnight Cash Rate
0,Description,Cash Rate Target; monthly average,Interbank Overnight Cash Rate; monthly average
1,Frequency,Monthly,Monthly
2,Type,Original,Original
3,Units,Per cent,Per cent
4,NaN,NaN,NaN

In [25]:
CR_df.to_csv("CR_df.csv")

In [34]:
#Take out only 1995-2020
CR_1995onwards=CR_df.iloc[316:628]
CR_1995onwards.head()

        Title Cash Rate Target Interbank Overnight Cash Rate
316  Jan-1995             7.50                          7.49
317  Feb-1995             7.50                          7.48
318  Mar-1995             7.50                          7.49
319  Apr-1995             7.50                          7.51
320  May-1995             7.50                          7.50

In [38]:
#Drop Null
Droppped=CR_1995onwards.dropna()
Droppped.head()

        Title Cash Rate Target Interbank Overnight Cash Rate
316  Jan-1995             7.50                          7.49
317  Feb-1995             7.50                          7.48
318  Mar-1995             7.50                          7.49
319  Apr-1995             7.50                          7.51
320  May-1995             7.50                          7.50

In [39]:
#Slice out June only 
june_df=Droppped.loc[Droppped["Title"].str.contains("Jun-*")]
june_df

        Title Cash Rate Target Interbank Overnight Cash Rate
321  Jun-1995             7.50                          7.51
333  Jun-1996             7.50                          7.51
345  Jun-1997             5.50                          5.57
357  Jun-1998             5.00                          5.07
369  Jun-1999             4.75                          4.76
381  Jun-2000             6.00                          6.00
393  Jun-2001             5.00                          5.00
405  Jun-2002             4.72                          4.72
417  Jun-2003             4.75                          4.75
429  Jun-2004             5.25                          5.25
441  Jun-2005             5.50                          5.50
453  Jun-2006             5.75                          5.75
465  Jun-2007             6.25                          6.25
477  Jun-2008             7.25                          7.25
489  Jun-2009             3.00                          3.00
501  Jun-2010             4.50                          4.50
513  Jun-2011             4.75                          4.75
525  Jun-2012             3.54                          3.54
537  Jun-2013             2.75                          2.75
549  Jun-2014             2.50                          2.50
561  Jun-2015             2.00                          2.00
573  Jun-2016             1.75                          1.75
585  Jun-2017             1.50                          1.50
597  Jun-2018             1.50                          1.50
609  Jun-2019             1.28                          1.28
621  Jun-2020             0.25                          0.14

In [41]:
#Change column name from Time to Year
year_cashswap=june_df.rename(columns = {'Title':'Year'})
year_cashswap

         Year Cash Rate Target Interbank Overnight Cash Rate
321  Jun-1995             7.50                          7.51
333  Jun-1996             7.50                          7.51
345  Jun-1997             5.50                          5.57
357  Jun-1998             5.00                          5.07
369  Jun-1999             4.75                          4.76
381  Jun-2000             6.00                          6.00
393  Jun-2001             5.00                          5.00
405  Jun-2002             4.72                          4.72
417  Jun-2003             4.75                          4.75
429  Jun-2004             5.25                          5.25
441  Jun-2005             5.50                          5.50
453  Jun-2006             5.75                          5.75
465  Jun-2007             6.25                          6.25
477  Jun-2008             7.25                          7.25
489  Jun-2009             3.00                          3.00
501  Jun-2010             4.50                          4.50
513  Jun-2011             4.75                          4.75
525  Jun-2012             3.54                          3.54
537  Jun-2013             2.75                          2.75
549  Jun-2014             2.50                          2.50
561  Jun-2015             2.00                          2.00
573  Jun-2016             1.75                          1.75
585  Jun-2017             1.50                          1.50
597  Jun-2018             1.50                          1.50
609  Jun-2019             1.28                          1.28
621  Jun-2020             0.25                          0.14

In [44]:
#Change Row name to Year Only

rows = ['1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020']

year_cashswap["Year"] = rows
year_cashswap.head()

     Year Cash Rate Target Interbank Overnight Cash Rate
321  1995             7.50                          7.51
333  1996             7.50                          7.51
345  1997             5.50                          5.57
357  1998             5.00                          5.07
369  1999             4.75                          4.76

In [45]:
final_cashrate=year_cashswap.set_index("Year")
final_cashrate.head()

     Cash Rate Target Interbank Overnight Cash Rate
Year
1995             7.50                          7.51
1996             7.50                          7.51
1997             5.50                          5.57
1998             5.00                          5.07
1999             4.75                          4.76

In [47]:
#save as csv
final_cashrate.to_csv("cashrate__cleaned.csv")

In [7]:
#CR_1995onwards["Title"].to_string()

In [8]:
#check data types
#CR_1995onwards.dtypes

In [10]:
#take out only June
#cashjune_df = CR_1995onwards.str.contains('Jun-*')

#cashjune_df = CR_1995onwards[CR_1995onwards.str.match('Jun-*')]
#cashjune_df = CR_1995onwards.drop(CR_1995onwards["Title"].str.contains("Jun-*"))
#cashjune_df=CR_dropped.loc[CR_dropped["Title"].str.contains("July-*")]
#cashjune_df