In [21]:
import pandas as pd

In [22]:
asx_df = pd.read_csv("../Data/RawData/ASX_history.csv")
aud_exchange_df = pd.read_csv("../Data/RawData/AUDexchange.csv")
cash_rate_df = pd.read_csv("../Data/RawData/CashRate.csv")
economy_df = pd.read_csv("../Data/RawData/Economy.csv")
employment_df = pd.read_csv("../Data/RawData/Employment.csv")
gdp_df = pd.read_csv("../Data/RawData/GDP.csv")
pop_df = pd.read_csv("../Data/RawData/Population.csv")
world_data = pd.read_csv("../Data/RawData/World_data.csv")

In [23]:
asx_df.head()

   Unnamed: 0       ASX
0  2000-10-02  2.043307
1  2000-10-03  2.169696
2  2000-10-04  2.001176
3  2000-10-05  2.022241
4  2000-10-06  2.148631

In [25]:
aud_exchange_df.head()

,Time,AUD_to_USD,AUD_to_EUR,AUD_to_GBP,AUD_to_JPY,AUD_to_CNY,AUD_to_KRW,AUD_to_CAD,AUD_to_INR
0,02-Jan-18,0.7837,0.6522,0.5799,88.33,5.0948,831.98,0.9824,49.92
1,03-Jan-18,0.7816,0.6485,0.5747,87.80,5.0842,832.76,0.9783,49.65
2,04-Jan-18,0.7835,0.6519,0.5795,88.27,5.0983,834.07,0.9820,49.76
3,05-Jan-18,0.7857,0.6508,0.5791,88.69,5.0916,834.37,0.9809,49.77
4,08-Jan-18,0.7842,0.6521,0.5784,88.78,5.0893,836.45,0.9726,49.64

In [26]:
cash_rate_df.head()

,Time,CashRate,InterbankOvernightCashRate,CashRate_ReturnTotalIndex
0,04-Jan-2011,4.75,4.75,100.013014
1,05-Jan-2011,4.75,4.75,100.026029
2,06-Jan-2011,4.75,4.75,100.039046
3,07-Jan-2011,4.75,4.75,100.078103
4,10-Jan-2011,4.75,4.75,100.091126

In [7]:
economy_df.head()

     Time  Net Savings  Total Use of Gross Income     GDP
0  Sep-59          589                       3493  3961.0
1  Dec-59          698                       3905  4070.0
2  Mar-60          225                       3310  4209.0
3  Jun-60           74                       3454  4324.0
4  Sep-60          492                       3669  4406.0

In [8]:
employment_df.head()

,Time,TotalEmployed,TotalEmployed_M,TotalEmployed_F,Employment_To_Population_Ratio,Employment_To_Population_Ratio_M,Employment_To_Population_Ratio_F,TotalUnemployed,TotalUnemployed_M,TotalUnemployed_F,Population 15 and over,Population 15 and over_M,Population 15 and over_F
0,Feb-78,5985.7,3887.4,2098.3,57.1,75.1,39.5,482.8,256.4,226.4,10489.3,5173.6,5315.7
1,Mar-78,6040.6,3900.6,2139.9,57.5,75.3,40.2,424.8,219.8,205.0,10508.6,5182.8,5325.8
2,Apr-78,6054.2,3899.1,2155.1,57.6,75.2,40.4,403.4,211.9,191.5,10518.7,5187.5,5331.2
3,May-78,6038.3,3888.6,2149.7,57.3,74.9,40.3,398.4,210.7,187.7,10530.7,5193.2,5337.5
4,Jun-78,6031.3,3883.6,2147.8,57.2,74.7,40.2,393.5,216.7,176.8,10543.4,5198.1,5345.3

In [9]:
gdp_new_df = gdp_df.iloc[3:]
gdp_new_df.rename(columns=gdp_new_df.iloc[0], inplace=True) 
gdp_new_df.drop(3, inplace=True)
gdp_new_df.head()

C:\Users\TribThapa\anaconda3\envs\pyvizenv\lib\site-packages\pandas\core\frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
C:\Users\TribThapa\anaconda3\envs\pyvizenv\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
4,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.446055,-1.369863,4.198232,0.300000,5.700001,2.100000,1.999999,NaN,NaN,NaN
5,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.426355,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,NaN
6,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.471976,8.542188,4.954545,4.822628,0.943572,-2.580050,-0.147213,-2.003630,-0.624644,NaN
7,Albania,ALB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.545322,1.417526,1.001987,1.774487,2.218752,3.314805,3.802197,4.071301,2.240070,NaN
8,Andorra,AND,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.008070,-4.974444,-3.547597,2.504466,1.434140,3.709678,0.346072,1.588765,1.849238,NaN

In [10]:
pop_df.head()

,Time,Births,Deaths,NaturalIncreases,InterstateArrivals,OverseasArrivals,OverseasDepartures,NetOverseasDepartures,NetOverseasMigration,EstimatedResidentPopulation,PercenChangeOverThePreviousYear
0,Jun-1981,60.3,26.7,33.6,78.0,48.2,19.1,19.1,25.6,14923.3,NaN
1,Sep-1981,61.0,31.5,29.6,76.6,50.0,19.1,19.1,34.1,14988.7,NaN
2,Dec-1981,55.0,25.7,29.3,65.9,56.7,21.7,21.7,34.5,15054.1,NaN
3,Mar-1982,60.6,26.1,34.5,70.3,58.7,26.3,26.3,31.4,15121.7,NaN
4,Jun-1982,60.5,27.7,32.7,81.7,45.3,20.5,20.5,28.1,15184.2,1.75

In [27]:
world_data.head()

,year,AU_gdp,AU_gdp_growth,AU_goods_export,AU_inflation,AU_net_income,AU_population,CA_gdp,CA_gdp_growth,CA_goods_export,...,KR_goods_export,KR_inflation,KR_net_income,KR_population,US_gdp,US_gdp_growth,US_goods_export,US_inflation,US_net_income,US_population
0,1995,3.672164e+11,3.837755,5.330705e+10,4.627767,-1.360998e+10,18072000.0,6.040116e+11,NaN,1.929309e+11,...,1.195777e+11,4.480687,-2.122100e+09,45092991.0,7.639749e+12,2.684287,5.752040e+11,2.805420,2.089930e+10,266278000.0
1,1996,4.003027e+11,3.878585,6.051559e+10,2.615385,-1.426600e+10,18311000.0,6.285364e+11,NaN,2.048682e+11,...,1.244274e+11,4.924810,-2.214800e+09,45524681.0,8.073122e+12,3.772501,6.121130e+11,2.931204,2.232480e+10,269394000.0
2,1997,4.345680e+11,3.966538,6.496912e+10,0.224888,-1.373516e+10,18517000.0,6.549879e+11,NaN,2.184618e+11,...,1.323667e+11,4.439064,-3.167400e+09,45953580.0,8.577554e+12,4.447216,6.783660e+11,2.337690,1.262480e+10,272657000.0
3,1998,3.988991e+11,4.576689,5.584892e+10,0.860135,-1.136180e+10,18711000.0,6.339977e+11,2.796542,2.199484e+11,...,1.275390e+11,7.513340,-5.201000e+09,46286503.0,9.062818e+12,4.481408,6.704160e+11,1.552279,4.280100e+09,275854000.0
4,1999,3.886082e+11,5.073599,5.602984e+10,1.483129,-1.188279e+10,18926000.0,6.784100e+11,3.970483,2.477141e+11,...,1.360306e+11,0.812997,-5.536800e+09,46616677.0,9.630664e+12,4.753236,6.985240e+11,2.188027,9.969000e+09,279040000.0

## Get data only for June

In [11]:
economy_june_df = economy_df[economy_df.Time.str.match('Jun*')]

economy_june_df.to_csv("../Data/ProcessedData/Economy_JuneOnly.csv")

In [12]:
employment_june_df = employment_df[employment_df.Time.str.match('Jun-*')]

employment_june_df.to_csv("../Data/ProcessedData/Employment_JuneOnly.csv")

employment_june_df.head(10)

,Time,TotalEmployed,TotalEmployed_M,TotalEmployed_F,Employment_To_Population_Ratio,Employment_To_Population_Ratio_M,Employment_To_Population_Ratio_F,TotalUnemployed,TotalUnemployed_M,TotalUnemployed_F,Population 15 and over,Population 15 and over_M,Population 15 and over_F
4,Jun-78,6031.3,3883.6,2147.8,57.2,74.7,40.2,393.5,216.7,176.8,10543.4,5198.1,5345.3
16,Jun-79,6095.7,3928.0,2167.7,56.8,74.3,39.8,393.0,207.3,185.7,10724.4,5284.2,5440.1
28,Jun-80,6269.9,3984.3,2285.6,57.5,74.2,41.3,409.3,210.3,199.0,10909.7,5370.9,5538.8
40,Jun-81,6413.9,4074.4,2339.6,57.6,74.4,41.4,353.7,182.5,171.2,11128.0,5476.0,5651.9
52,Jun-82,6414.3,4064.9,2349.3,56.4,72.7,40.7,451.6,240.6,211.0,11362.9,5593.2,5769.7
64,Jun-83,6266.5,3924.4,2342.1,54.1,68.9,39.9,693.2,424.5,268.7,11572.6,5695.6,5877.1
76,Jun-84,6499.0,4045.3,2453.8,55.2,69.7,41.1,632.5,374.3,258.1,11774.6,5801.0,5973.6
88,Jun-85,6659.4,4098.3,2561.0,55.5,69.3,42.1,607.6,365.8,241.8,11993.1,5910.2,6082.9
100,Jun-86,7007.7,4257.9,2749.8,57.2,70.5,44.3,563.8,321.3,242.5,12249.7,6040.2,6209.5
112,Jun-87,7128.9,4291.2,2837.7,57.0,69.6,44.7,603.1,353.3,249.8,12511.0,6169.6,6341.4

In [13]:
gdp_selected_df = gdp_new_df.loc[(gdp_new_df["Country Name"] == "Australia") | 
                                 (gdp_new_df["Country Name"] == "Canada") |
                                 (gdp_new_df["Country Name"] == "China") |
                                 (gdp_new_df["Country Name"] == "European Union") |
                                 (gdp_new_df["Country Name"] == "India") |
                                 (gdp_new_df["Country Name"] == "Korea, Rep.") |
                                 (gdp_new_df["Country Name"] == "United Kingdom") |
                                 (gdp_new_df["Country Name"] == "United States")]

gdp_selected_df.to_csv("../Data/ProcessedData/GDP_selected_countries.csv")

In [14]:
pop_june_df = pop_df[pop_df.Time.str.match('Jun-*')]

pop_june_df.to_csv("../Data/ProcessedData/Population_JuneOnly.csv")

### Clean World data

In [28]:
world_data.head()

,year,AU_gdp,AU_gdp_growth,AU_goods_export,AU_inflation,AU_net_income,AU_population,CA_gdp,CA_gdp_growth,CA_goods_export,...,KR_goods_export,KR_inflation,KR_net_income,KR_population,US_gdp,US_gdp_growth,US_goods_export,US_inflation,US_net_income,US_population
0,1995,3.672164e+11,3.837755,5.330705e+10,4.627767,-1.360998e+10,18072000.0,6.040116e+11,NaN,1.929309e+11,...,1.195777e+11,4.480687,-2.122100e+09,45092991.0,7.639749e+12,2.684287,5.752040e+11,2.805420,2.089930e+10,266278000.0
1,1996,4.003027e+11,3.878585,6.051559e+10,2.615385,-1.426600e+10,18311000.0,6.285364e+11,NaN,2.048682e+11,...,1.244274e+11,4.924810,-2.214800e+09,45524681.0,8.073122e+12,3.772501,6.121130e+11,2.931204,2.232480e+10,269394000.0
2,1997,4.345680e+11,3.966538,6.496912e+10,0.224888,-1.373516e+10,18517000.0,6.549879e+11,NaN,2.184618e+11,...,1.323667e+11,4.439064,-3.167400e+09,45953580.0,8.577554e+12,4.447216,6.783660e+11,2.337690,1.262480e+10,272657000.0
3,1998,3.988991e+11,4.576689,5.584892e+10,0.860135,-1.136180e+10,18711000.0,6.339977e+11,2.796542,2.199484e+11,...,1.275390e+11,7.513340,-5.201000e+09,46286503.0,9.062818e+12,4.481408,6.704160e+11,1.552279,4.280100e+09,275854000.0
4,1999,3.886082e+11,5.073599,5.602984e+10,1.483129,-1.188279e+10,18926000.0,6.784100e+11,3.970483,2.477141e+11,...,1.360306e+11,0.812997,-5.536800e+09,46616677.0,9.630664e+12,4.753236,6.985240e+11,2.188027,9.969000e+09,279040000.0

In [45]:
aud_vs_world_gdp = world_data[["AU_gdp", "CA_gdp", "CN_gdp", "GB_gdp", "IN_gdp", "JP_gdp", "KR_gdp", "US_gdp"]]
aud_vs_world_gdp.to_csv("../Data/ProcessedData/aud_vs_world_gdp.csv")

In [42]:
aud_vs_world_gdp_growth = world_data[["AU_gdp_growth", "CA_gdp_growth", "CN_gdp_growth", "GB_gdp_growth", "IN_gdp_growth", "JP_gdp_growth", "KR_gdp_growth", "US_gdp_growth"]]
aud_vs_world_gdp_growth.to_csv("../Data/ProcessedData/aud_vs_world_gdp_growth.csv")
aud_vs_world_gdp_growth

,AU_gdp_growth,CA_gdp_growth,CN_gdp_growth,GB_gdp_growth,IN_gdp_growth,JP_gdp_growth,KR_gdp_growth,US_gdp_growth
0,3.837755,NaN,10.953954,2.531670,7.574492,2.742140,9.614565,2.684287
1,3.878585,NaN,9.922557,2.491611,7.549522,3.099999,7.890703,3.772501
2,3.966538,NaN,9.236780,4.975295,4.049821,1.076045,6.170552,4.447216
3,4.576689,2.796542,7.845952,3.707771,6.184416,-1.128410,-5.129448,4.481408
4,5.073599,3.970483,7.661652,3.295202,8.845756,-0.251954,11.466942,4.753236
5,3.933137,4.917763,8.490093,3.506217,3.840991,2.779633,9.060833,4.127484
6,1.930858,1.405528,8.335733,2.730336,4.823966,0.406336,4.852400,0.998341
7,4.001404,3.422146,9.133631,2.178744,3.803975,0.117993,7.725143,1.741695
8,2.985934,3.811090,10.038030,3.321882,7.860381,1.528220,3.147291,2.861211
9,4.055452,3.914029,10.113621,2.286278,7.922937,2.204688,5.197391,3.798891
10,3.204270,4.995861,11.394592,2.955692,7.923431,1.662670,4.308543,3.513214
11,2.794537,4.165818,12.720956,2.693800,8.060733,1.420007,5.264327,2.854972
12,3.844230,6.868609,14.230861,2.360576,7.660815,1.654184,5.799548,1.876171
13,3.657954,1.007623,9.650679,-0.278780,3.086698,-1.093541,3.012985,-0.136580
14,1.936994,-2.928400,9.398726,-4.113949,7.861889,-5.416413,0.792699,-2.536757
15,2.067417,3.089495,10.635871,2.074051,8.497585,4.191739,6.804825,2.563767
16,2.462756,3.146881,9.550832,1.275708,5.241315,-0.115421,3.685668,1.550836
17,3.918163,1.762223,7.863736,1.430396,5.456389,1.495090,2.402531,2.249546
18,2.584898,2.329123,7.766150,2.186113,6.386106,2.000268,3.164709,1.842081
19,2.533115,2.870036,7.425764,2.862729,7.410228,0.374719,3.202454,2.525973
20,2.192647,0.659177,7.041329,2.363070,7.996254,1.222921,2.809103,3.075515
21,2.770652,1.001394,6.848762,1.722386,8.256306,0.521944,2.946882,1.711427
22,2.300611,3.039880,6.947201,1.740309,6.795383,2.168291,3.159636,2.332679
23,2.949286,2.429548,6.749774,1.252591,6.532989,0.323207,2.907404,2.996464
24,2.160956,1.861415,5.949714,1.370815,4.041554,0.270309,2.039348,2.161177
25,-0.284839,-5.402799,2.300000,-9.790240,-7.964610,NaN,-0.957766,-3.486140

In [34]:
aud_vs_world_goods_export = world_data[["AU_goods_export", "CA_goods_export", "CN_goods_export", "GB_goods_export", "IN_goods_export", "JP_goods_export", "KR_goods_export", "US_goods_export"]]
aud_vs_world_goods_export.to_csv("../Data/ProcessedData/aud_vs_world_goods_export.csv")

In [35]:
aud_vs_world_inflation = world_data[["AU_inflation", "CA_inflation", "CN_inflation", "GB_inflation", "IN_inflation", "JP_inflation", "KR_inflation", "US_inflation"]]
aud_vs_world_inflation.to_csv("../Data/ProcessedData/aud_vs_world_inflation.csv")

In [36]:
aud_vs_world_population = world_data[["AU_population", "CA_population", "CN_population", "GB_population", "IN_population", "JP_population", "KR_population", "US_population"]]
aud_vs_world_population.to_csv("../Data/ProcessedData/aud_vs_world_population.csv")