# SP500 data clean up

In [ ]:
#Import libraries and dependencies

import pandas as pd
import os
import csv
from pathlib import Path

In [16]:
#Set the file path

sp500_path = Path("../Data/RawData/SP500_history.csv")

#Read in the CSV as Dataframe

SP500_history_df = pd.read_csv(sp500_path)

SP500_history_df.head()

     Date   Price    Open    High     Low Vol. Change %
0  Feb-95  487.39  470.42  489.19  469.29    -    3.61%
1  Mar-95  500.71  487.39  508.15   479.7    -    2.73%
2  Apr-95  514.71   500.7  515.29   500.2    -    2.80%
3  May-95   533.4  514.76  533.41  513.03    -    3.63%
4  Jun-95  544.75   533.4  551.07     526    -    2.13%

In [17]:
#Filter to get June data only

SP500_history_df = SP500_history_df[SP500_history_df.Date.str.match('Jun-*')]

In [18]:
#Drop unused columns
SP500_history_df = SP500_history_df.drop(SP500_history_df.columns[2:], axis=1)

In [19]:
SP500_history_df = SP500_history_df.set_index("Date")

In [21]:
SP500_history_df.head()

           Price
Date
Jun-95    544.75
Jun-96    670.63
Jun-97    885.14
Jun-98  1,133.84
Jun-99  1,372.71

# Saving the end result

In [14]:
# Write output as csv file
SP500_history_df.to_csv("../Data/ProcessedData/SP500_history_cleaned.csv")